.row {
    display: flex;
}

.info-bar {
    text-align: right;
}

.info-bar span {
    padding: 0 0.5em;
    cursor: pointer;
}

.label {
    display: flex;
    justify-content: right;
    align-items: center;
    flex: 1;
    text-align: right;
    padding: 1px;
}

.col {
    display: flex;
    justify-content: left;
    align-items: center;
    flex: 3;
    text-align: left;
    padding: 1px;
}
