@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #0f0f0f;
    background-color: #dee3e8;
    height: 100%;
    overflow: hidden;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}


.container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.img-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222222;
    will-change: filter;
    transition: 0.75s;
    filter: drop-shadow(0 0 2em #333333);
    border-radius: 50%;
    padding: 1.5em;
}

.play-container {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.list-wrapper {
    width: 20em;
    text-align: left;
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    padding: 1em;
    border-radius: .5em;
}

.play-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.title-wrapper {
    padding: 1em 1em 0 1em;
    text-align: center;
}

.title {
    font-size: 1.5em;
    font-weight: 500;
    color: #0f0f0f;
}

.artist {
    font-size: 1em;
    font-weight: 500;
    color: #666666;
}

.album {
    font-size: 1em;
    font-weight: 500;
    color: #666666;
}

.logo {
    width: 20em;
    height: 20em;
    border-radius: 50%;
    object-fit: cover;
    text-align: center;
}

.rotate {
    animation: rotate 15s infinite linear;
}

.form {
}

.progress {
    color: #646cff;
}

.duration {
    color: #666666;
}

.path {
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

input,
button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: #0f0f0f;
    background-color: #ffffff;
    transition: border-color 0.25s;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
    cursor: pointer;
}

button:hover {
    border-color: #396cd8;
}

button:active {
    border-color: #396cd8;
    background-color: #e8e8e8;
}

input,
button {
    outline: none;
}

.progress-bar-container {
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    border-radius: 4px;
    margin: 10px 0;
    cursor: pointer;
}

.progress-bar {
    height: 100%;
    background-color: #646cff;
    border-radius: 4px;
    transition: width 0.1s ease-in-out;
}

.bottom-container {
}

.play-bar-container {
    display: flex;
    align-items: center;
}

.time-container {
    flex: 1;
    display: flex;
    justify-content: start;
}

.time-wrapper {
    display: flex;
}

.seq-wrapper {
    margin-left: 1em;
    cursor: pointer;
}

.btn {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.next {
    cursor: pointer;
}

.play {
    cursor: pointer;
}

.previous {
    cursor: pointer;
}

.info-wrapper {
    flex: 1;
    display: flex;
}

.short-info {
    flex: 1;
    display: flex;
    justify-content: end;
}

.short-info > div {
    padding: 0 .5em;
}

.info {
    width: 2em;
    display: flex;
    cursor: pointer;
    justify-content: end;
}

.toolbar {
    display: flex;
    align-items: center;
}

.open-folder {
    cursor: pointer;
    margin-right: .5em;
}

.list {
    padding: 0;
    margin: .5em 0 0;
}

.list > li {
    list-style: none;
    padding: .5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e8e8e8;
}

.list > li:hover {
    /*background-color: #dee3e8;*/
}

.fileName {

}

.statusIcon {
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.active {
    background-color: rgba(83, 91, 242, .5);
}

.music-info {
    position: absolute;
    background-color: #ffffff;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 1em;
    border-radius: .6em;
    transition: 0.75s;
    padding-bottom: .5em;
}

.hide {
    transform: translateY(110%);
}

@media (prefers-color-scheme: dark) {
    #root {
        color: #f6f6f6;
        background-color: #1b1b1b;
        /*background-color: #1e1f22;*/
    }

    a:hover {
        color: #24c8db;
    }

    input,
    button {
        color: #ffffff;
        background-color: #0f0f0f98;
    }

    button:active {
        background-color: #0f0f0f69;
    }

    .list-wrapper {
        background-color: #1f1f1f;
    }

    .title {
        color: #888888;
    }
}